.board {
  width: 500px;
  height: 500px;
  display: grid;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 2px solid;
}
